<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

		<title>Alexandria Search</title>
<!--
 *
 * Alexandria.org
 *
 * Copyright (c) 2021 Josef Cullhed, <info@alexandria.org>, et al.
 *
 * View source code on https://github.com/alexandria-org
 *
-->

		<link rel="search" type="application/opensearchdescription+xml" title="alexandria.org" href="/xml_description.xml">
		<link rel="manifest" href="/manifest.json">
		<meta name="theme-color" content="#4DBA87">

		<% if (htmlWebpackPlugin.options.description) { %>
		<meta name="description" content="Search the web with alexandria.org"/>
		<% } %>

<script type="application/javascript">
/*
	Alexandria.org
	Code for fetching search results from the API. We want to load the results as a part of the browser load.
*/
var global_search_results = {results: [], page_max: 1, total_found: 0};
function parse_response(data) {
	global_search_results = data;

	const event = new CustomEvent('_set_search_results', {detail: global_search_results});
	document.dispatchEvent(event);
}

function inject_result_loader(query, current_page) {
	var script = document.createElement("script");
	script.async = 1;
	script.src = 'https://api.alexandria.org/?q='+encodeURIComponent(query)+'&p='+current_page+'&cb=parse_response';
	var first_script = document.getElementsByTagName('script')[0];
	first_script.parentNode.insertBefore(script, first_script);
}

const queryString = document.location.search;
const urlParams = new URLSearchParams(queryString);
const query = urlParams.get("q");
const current_page = urlParams.get("p") || 1;
if (query !== null && query.trim() != "") {
	document.title = query + " - Alexandria Search";
	inject_result_loader(query, current_page);
}

</script>

		<% for (var chunk of webpack.chunks) {
				for (var file of chunk.files) {
					if (file.match(/\.(js|css)$/)) { %>
		<link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
	</head>
	<body>
		<noscript>
			You need to enable JavaScript to run this app.
		</noscript>
		<div id="app"><app /></div>
	</body>
</html>
